[submodule "handmadedb"]
	path = handmadedb
	url =  https://github.com/M7mdisk/handmade-db
[submodule "handmadelisp"]
	path = handmadelisp
	url = https://github.com/M7mdisk/handmade-lisp
[submodule "handmade-redis"]
	path = handmade-redis
	url = git@github.com:M7mdisk/handmade-redis
[submodule "flasc"]
	path = flasc
	url = git@github.com:M7mdisk/flasc
